@charset "utf-8";


button {background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;}

.location2 .map { }
.location2 .map > iframe { }

.location2 .tab_box {text-align: center; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;   display: flex;  align-items: center; justify-content: center;  margin-top: 40px;}
.location2 .tab_box a {display: inline-block; height: 50px;  border: 1px solid #ddd; text-align: center; line-height: 50px; box-sizing: border-box; width: 25%; margin-left: -1px; transition: all .2s ease-in-out;}
.location2 .tab_box a.on, .location2 .tab_box a:hover { background-color: #0f5fb1; color: #fff; border: 1px solid #0f5fb1; z-index: 1;}

.location2 .map_title {margin-top: 50px; padding-bottom: 10px; margin-bottom: 19px; border-bottom: 1px solid #ddd;}
.location2 .map_title .ti {display: inline-block; font-size: 24px; font-weight: 400; color: #0f5fb1;}
.location2 .map_title .ico {display: inline-block; float: right;}
.location2 .map_title .ico > button {color: #777; padding: 2px 10px 2px 22px; margin-right: 8px; float: left; position: relative; background: url("location2.png") no-repeat; transition: all .3s ease-in-out;}
.location2 .map_title .ico > button:hover {color: #0f5fb1;}
.location2 .map_title .ico > button.share {background-position: -2px 1px;}
.location2 .map_title .ico > button.share:hover {background-position: -2px -38px;}
.location2 .map_title .ico > button.print {background-position: -150px 1px;}
.location2 .map_title .ico > button.print:hover {background-position: -150px -38px;}
.location2 .map_title .ico > button::before {content: ""; position: absolute; width: 2px; height: 2px; background: #333; border-radius: 100%; right: 0; top: 50%; transform: translateY(-50%);}
.location2 .map_title .ico > button:last-child {padding-right: 0; margin-right: 0;}
.location2 .map_title .ico > button:last-child::before {display: none;}

.location2 .map_box {border: 1px solid #ddd; padding: 30px; box-sizing: border-box; position: relative;}

.location2 .info_wrap {margin-top: 70px;}


@media screen and (max-width:768px){
    .location2 .tab_box a {width: 50%;}
    .location2 .map {height: 330px;}
    .location2 .map_box {padding: 20px;}
    
}