@charset "utf-8";

.agr_chk{margin:30px auto 20px;text-align: center;}
.agr_all {text-align: right;position: relative;}
.agr_all .agr_chk {display: inline-block;}


@media screen and (max-width:1200px){

}


@media screen and (max-width:900px){
    

}

@media screen and (max-width:768px){


}



@media screen and (max-width:500px){
.btn_wrap{width: 100%;border-bottom: 1px;display: block;}


}