@charset "utf-8";


button {background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;}

.location2 .map {display: flex; height: 460px;}
.location2 .map > iframe {width: 100%; height: 100%;}

.location2 .tab_box {text-align: center; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;   display: flex;  align-items: center; justify-content: center;  margin-top: 40px;}
.location2 .tab_box a {display: inline-block; height: 50px;  border: 1px solid #ddd; text-align: center; line-height: 50px; box-sizing: border-box; width: 25%; margin-left: -1px; transition: all .2s ease-in-out;}
.location2 .tab_box a.on, .location2 .tab_box a:hover { background-color: #0f5fb1; color: #fff; border: 1px solid #0f5fb1; z-index: 1;}

.location2 .map_title {margin-top: 50px; padding-bottom: 10px; margin-bottom: 19px; border-bottom: 1px solid #ddd;}
.location2 .map_title .ti {display: inline-block; font-size: 24px; font-weight: 400; color: #0f5fb1;}
.location2 .map_title .ico {display: inline-block; float: right;}
.location2 .map_title .ico > button {color: #777; padding: 2px 10px 2px 22px; margin-right: 8px; float: left; position: relative; background: url("location2.png") no-repeat; transition: all .3s ease-in-out;}
.location2 .map_title .ico > button:hover {color: #0f5fb1;}
.location2 .map_title .ico > button.share {background-position: -2px 1px;}
.location2 .map_title .ico > button.share:hover {background-position: -2px -38px;}
.location2 .map_title .ico > button.print {background-position: -150px 1px;}
.location2 .map_title .ico > button.print:hover {background-position: -150px -38px;}
.location2 .map_title .ico > button::before {content: ""; position: absolute; width: 2px; height: 2px; background: #333; border-radius: 100%; right: 0; top: 50%; transform: translateY(-50%);}
.location2 .map_title .ico > button:last-child {padding-right: 0; margin-right: 0;}
.location2 .map_title .ico > button:last-child::before {display: none;}

.location2 .map_box {border: 1px solid #ddd; padding: 30px; box-sizing: border-box; position: relative;}
.location2 .map_box h3 {font-weight: 700; margin-bottom: 30px;}
.location2 .map_box .tx_box {float: left; /* display: inline-block; */ margin-right: 43px;}
.location2 .map_box .tx_box.addr {display: block; width: 100%; margin-bottom: 15px;}
.location2 .map_box .tx_box .ti, .location2 .map_box .tx_box .tx {float: left; /* display: inline-block; */}
.location2 .map_box .tx_box .ti {margin-right: 15px; font-weight: 700;}
.location2 .map_box .read_box {border: 1px solid #333; position: absolute; top: 30px; right: 30px; width: 80px; height: 80px; margin: auto; display: flex; align-items: center; justify-content: center;}
.location2 .map_box .read_box .read {background: url(location2.png) no-repeat; background-position: 0 -94px; width: 31px; height: 31px; margin: auto; text-indent: -9999px;}
.location2 .map_box .read_box:hover .read {}
.location2 .map_box .read_box:hover .p {}

.location2 .info_wrap {margin-top: 70px;}
.location2 .info_wrap .info_box {margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #ddd;}/* 왜 패딩, 마진 각각 줬는지 궁금해요 몰빵은 안되나요 */
.location2 .info_wrap .info_box:last-child {border-bottom: none;}/* 보더바텀 0을 주셨던데 왜 0을 주셨나요 논 써도 상관 없나요 */
.location2 .info_wrap .trans {width: 130px; /* display: inline-block; */ float: left; text-align: center; font-weight: 700; color: #0F5FB1; padding-top: 70px; position: relative;}
.location2 .info_wrap .trans::before {content: ""; position: absolute; width: 61px; height: 61px; background: url(./location2.png) no-repeat; top: 0; left: 50%; transform: translateX(-50%)}
.location2 .info_wrap .car::before {background-position: 0 -173px;}
.location2 .info_wrap .bus::before {background-position: 0 -290px;}
.location2 .info_wrap .subway::before {background-position: 0 -413px;}
.location2 .info_wrap .train::before {background-position: 0 -530px;}
.location2 .info_wrap .info {display: inline-block; width: 100%-130px;}



/* .location2 .info_wrap .car {padding: 20px 0;} */
.location2 .info_wrap .car .car_box {float: left; margin-right: 40px; width: 14%;}
.location2 .info_wrap .car .car_box .car_img {background: url(location2.png) no-repeat -3px -181px; width: 56px; height: 46px;; text-indent: -9999px; margin: auto;}
.location2 .info_wrap .car .car_box p {margin-top: 20px; color: #0F5FB1; font-weight: 700; display: flex; align-items: center; justify-content: center;}
.location2 .info_wrap .car .car_txt {}
.location2 .info_wrap .car .car_txt span {font-weight: 700; display: inline-block; padding-bottom: 10px;}

/* .location2 .info_wrap .bus {padding: 20px 0;} */
.location2 .info_wrap .bus .bus_box {float: left; margin-right: 40px; width: 14%; padding-bottom: 1px;}
.location2 .info_wrap .bus .bus_box .bus_img {background: url(location2.png) no-repeat 0 -295px; width: 60px; height: 55px; text-indent: -9999px; margin: auto;}
.location2 .info_wrap .bus .bus_box p {margin-top: 20px; color: #0F5FB1; font-weight: 700; display: flex; align-items: center; justify-content: center;}
.location2 .info_wrap .bus .bus_txt {}
.location2 .info_wrap .bus .bus_txt span {font-weight: 700; display: inline-block; padding-bottom: 10px;}
.location2 .info_wrap .bus .bus_txt p {margin-bottom: 20px;}
.location2 .info_wrap .bus .bus_txt p:last-child {margin-bottom: 0;}

/* .location2 .info_wrap .subw {padding: 20px 0;} */
.location2 .info_wrap .subw .subw_box {float: left; margin-right: 40px; margin-bottom: 8px; width: 14%; padding-bottom: 10px;}
.location2 .info_wrap .subw .subw_box .subw_img {background: url(location2.png) no-repeat -2px -415px; width: 57px; height: 54px; text-indent: -9999px; margin: auto;}
.location2 .info_wrap .subw .subw_box p {margin-top: 20px; color: #0F5FB1; font-weight: 700; display: flex; align-items: center; justify-content: center;}
.location2 .info_wrap .subw .subw_txt {}
.location2 .info_wrap .subw .subw_txt span {font-weight: 700; display: inline-block; padding-bottom: 10px;}
.location2 .info_wrap .subw .subw_txt p {margin-bottom: 20px;}
.location2 .info_wrap .subw .subw_txt p:last-child {margin-bottom: 0;}

/* .location2 .info_wrap .train {padding: 20px 0;} */
.location2 .info_wrap .train .train_box {float: left; margin-right: 40px; margin-bottom: 8px; width: 14%;}
.location2 .info_wrap .train .train_box .train_img {background: url(location2.png) no-repeat -2px -531px; width: 57px; height: 59px; text-indent: -9999px; margin: auto;}
.location2 .info_wrap .train .train_box p {margin-top: 20px; color: #0F5FB1; font-weight: 700; display: flex; align-items: center; justify-content: center;}
.location2 .info_wrap .train .train_txt {}
.location2 .info_wrap .train .train_txt span {font-weight: 700; display: inline-block; padding-bottom: 10px;}
.location2 .info_wrap .train .train_txt p {margin-bottom: 20px;}
.location2 .info_wrap .train .train_txt p:last-child {margin-bottom: 0;}




@media screen and (max-width:768px){
    .location2 .tab_box a {width: 50%;}
    .location2 .map {height: 330px;}
    .location2 .map_box {padding: 20px;}
    
    .location2 .map_box .address2 {float: none;}
    .location2 .map_box .read_box {width: 100%; float: none; top: 0; height: 100%;}
    .location2 .map_box .read_box a {display: block;}
    .location2 .map_box .read_box p {float: left;}
    .location2 .info_wrap .car .car_box {float: none;}
    .location2 .info_wrap .bus .bus_box {float: none;}
    .location2 .info_wrap .subw .subw_box {float: none;}
    .location2 .info_wrap .train .train_box {float: none;}
    
}