@charset "utf-8";

/* 서브페이지 기본 세팅 s */
body {line-height:140%}

ol.basic { margin-top:20px;}
ol.basic > li {list-style-type:decimal; margin-left:17px;  border-bottom: 1px dashed #ddd;  padding:7px 0 7px 10px;}
ol.basic > li > ul { margin-top:5px; color:#000; margin-bottom:5px;}
ol.basic > li > ul li {  padding:0 0 0 10px;}
.finish { margin-top:70px; margin-bottom:120px;}


ul.basic {margin-top: 15px;font-family: 'Pretendard', sans-serif;}
ul.basic li{padding-left: 10px; position: relative; margin-bottom: 5px; line-height: 150%; word-break: keep-all;}
ul.basic li:last-child {margin-bottom: 0;}
ul.basic li:before {width: 2px; height: 2px; position: absolute; background-color: #333; content: ""; top: 12px; left: 0;}

h3, .h3 {position: relative; word-break: keep-all; text-align: center; font-family: 'Gmarket Sans'; font-size: 42px; font-weight: 600; line-height: 29px; padding-top: 44px;}
h3 .h3_tx, .h3 .h3_tx {display: block; font-size: 16px; color: #999; font-family: 'Pretendard'; line-height: 140%; margin-top: 10px; padding: 0; font-weight: 400; }
h3::before, .h3::before { content:''; display: inline-block; width:4px; height:28px; background:#00CAA6; position: absolute; left:50%; top:0px; transform: translateX(-50%) rotate(45deg);}
h4, .h4 {font-size: 22px; font-family: 'Gmarket Sans'; line-height: 22px;}
h4 .h4_tx, .h4 .h4_tx {display: block; font-size: 15px; color: #999; font-family: 'Pretendard'; line-height: 140%; margin-top: 5px; padding: 0; font-weight: 400; }


/* 서브페이지 기본 세팅 e */

#container.sub {overflow: hidden; position: relative;}


.sub_vis {width: 100%; height: 350px; position: relative; background: url("/resources/img/sub/sub_vis01.jpg")no-repeat center/cover;}
.sub_vis02 {background: url("/resources/img/sub/sub_vis02.jpg")no-repeat center/cover;}
.sub_vis03 {background: url("/resources/img/sub/sub_vis03.jpg")no-repeat center/cover;}
.sub_vis04 {background: url("/resources/img/sub/sub_vis04.jpg")no-repeat center/cover;}
.sub_vis05 {background: url("/resources/img/sub/sub_vis05.jpg")no-repeat center/cover;}
.sub_vis06 {background: url("/resources/img/sub/sub_vis06.jpg")no-repeat center/cover;}
.sub_vis .inner {height: 100%;}
.sub_vis h2 {color: #fff; position: absolute; left: 0; width: 100%; bottom: 65px; font-family: 'Gmarket Sans';;}
.sub_vis h2 .tx {letter-spacing: 9px; font-size: 15px; font-weight: 300; margin-bottom: 15px; display: block;}
.sub_vis h2 .ti {font-size: 72px; font-weight: 600;}


.lnb {height:65px; background:#f9f9f9;border:1px solid #ddd; border-top:0; border-left: 0; z-index:1; position: absolute; left:50%; transform: translateX(-50%); top: 298px; font-size: 17px; box-sizing: border-box;width: 100%; margin: 0 auto; max-width: 1200px; }
.lnb div {float: left;}
.lnb .home {width: 65px; height: 100%; background: #005383 url("/resources/img/common/home_ico.png")no-repeat center;}
.lnb .home a {display: inline-block; width: 100%; height: 100%; text-indent: -9999px;}
.lnb .depth1_name { border-right: 1px solid #ddd; min-width:220px; display: table; height: 100%;  box-sizing: border-box;}
.lnb .depth1_name span {color: #555; font-size: 18px; display: table-cell;vertical-align: middle; padding:0 30px; text-align: center; width: 100%; height: 100%; box-sizing: border-box; font-weight: 500;}
.lnb .lnb_menu { display: inline-block;  box-sizing: border-box; max-width: 260px; width: 100%; position: relative; z-index: 1; vertical-align: middle;}
.lnb .lnb_menu .lnb_title {padding: 24px 0; padding-left:26px; display: block; font-size:17px; cursor: pointer;  border-right:1px solid #ddd}
.lnb .lnb_menu ul { border-top: none; border-bottom: none;box-sizing: border-box; width:100%; display: none; position: absolute; left:0;}
.lnb .lnb_menu li {  box-sizing: border-box; }
.lnb .lnb_menu li a { font-size: 15px; transition: .3s ease; color: #eee; box-sizing: border-box; display: block; padding: 10px 20px; width: 100%; border: 1px solid #206a94; border-top: 0; background: #005383 }
.lnb .lnb_menu li a:hover, .lnb .lnb_menu li.on a {background-color: #0e253c;}
.lnb .lnb_menu li a span { }
.lnb .lnb_menu li.on a span {vertical-align: middle; display: table-cell; transform: skew(-0.03deg);}

.lnb .lnb_menu .more_btn {width: 18px; height: 10px; background: url("/resources/img/sub/lnb_ico.png")no-repeat left 0px bottom 0px; position: absolute; top: 50%; right: 10px; text-indent: -99999px; transform: translateY(-50%); cursor: pointer; transition: all .3s ease-in-out;}
.lnb_menu .more_btn.more_add { transform: translateY(-50%) rotate(-180deg); top: 45%;}

.path_wrap {margin-bottom: 50px;}
.path {float: right; font-size: 14px; color: #999;}
.path .depth {float: left; margin-left: 12px; padding-left: 12px; position: relative;}
.path .depth:first-child {margin-right: 0; padding-right: 0;}
.path .depth:last-child {color: #111; font-weight: 500;}
.path .depth::before {content: ""; position: absolute; left: -1px; top: 50%; transform: translateY(-50%); width: 2px; height: 2px; border-radius: 100%; background: #999;}
.path .depth:first-child::before {display: none;}
.path .depth:last-child::before {background: #111;}

/* div_table s */
.div_table {border-top: 1px solid #aaa;border-bottom: 1px solid #aaa;}
.div_table .tr {display: flex; align-items: stretch;}
.div_table .tr::after {clear:both; content: ""; display: block; height:0;}
.div_table .tr > dl {border: 1px solid #ddd; border-left: 0; border-right: 0; box-sizing: border-box; border-bottom: 0; display: flex; align-items: stretch; width: 100%;}
.div_table .tr:first-child > dl {border-top: 0;}
.div_table .tr:last-child > dl {/* border-bottom: 1px solid #ddd; */}
.div_table .tr > dl > * {float: left; box-sizing: border-box; align-items: stretch; padding: 18px 10px;}
.div_table .tr > dl::after {clear:both; content: ""; display: block; height:0;}
.div_table .tr > dl > dt {width: 180px; /* border-right: 1px solid #ddd; */ flex-shrink: 0; background: #fafafa; display: flex; align-items: center;}
.div_table .tr > dl > dd {width: calc(100% - 180px); flex-grow: 1;}
.div_table .tr50 > dl {width: 50%; float: left;}
.div_table .tr50 > dl:first-child {border-right: 0;}
/* div_table e */
/* button_lnb s */
.button_lnb {text-align: center;display: flex;align-items: center;justify-content: center;margin-top: 30px;margin: 70px 0;} 
.button_lnb a {display: inline-block;height: 44px;text-align: center;line-height: 47px;width: 25%;transition: all 0.2s ease-in-out;background-color: #f2f2f2;margin-right: 16px;width: 167px;border-radius: 50px;font-family: 'Gmarket Sans';} 
.button_lnb a:last-child { margin-right: 0; }
.button_lnb a.on {cursor: default;}
.button_lnb a.on,
.button_lnb a:hover {background-color: #009378;color: #fff;z-index: 1;font-weight: bold;} 
/* button_lnb e */
/* search box s */
.search_sec {margin-top: 50px;}
.search_box {padding: 4px 40px 4px 16px;float: right;border-radius: 50px;position: relative;border: 2px solid #ddd;}
.search_box input {width: 200px;height: 24px;display: block;box-sizing: border-box;border: 0;transition: all .3s ease-in-out;padding: 0;}
/* .search_box input:focus {width: 154px;} */
.search_box .search_btn {position: absolute;right: 15px;top: 50%;transform: translateY(-50%);width: 20px;height: 20px;background: url("/resources/img/common/search_b.png") center/contain no-repeat;cursor: pointer;}
/* search box e */
/* tab box s */
.tab_box { text-align: center; display: flex; align-items: center; justify-content: center; margin-top: 30px; } 
.tab_box a {display: inline-block;height: 36px;text-align: center;line-height: 38px;width: 25%;transition: all 0.2s ease-in-out;background-color: #f2f2f2;margin-right: 12px;width: 150px;border-radius: 25px;font-family: 'Gmarket Sans';font-size: 14px;} 
.tab_box a:last-child { margin-right: 0; } 
.tab_box a.on,
.tab_box a:hover { background-color: #111; color: #fff; z-index: 1; font-weight: bold; } 
/* tab box e */
/* form s */
.form_sel {width: 65px;display: inline-block;padding-right: 20px;}
.form_sel.form_mail {width: 150px;}
input.form_mail {width: 120px;}
input.form_num {width: 64px;}

.form_txt_ti {margin-bottom: 5px; display: block;}
.form_txt_tx {display: block; padding: 5px; border: 1px solid #d2d2d2;}
.form_txt_tx textarea {border: 0;}

.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.att_btn {width: 100px;text-align: center;display: inline-block;padding: .5em .2em;color: #333;font-weight: 600;font-size: inherit;line-height: normal;vertical-align: middle;background-color: #fdfdfd;cursor: pointer;border: 1px solid #d2d2d2;float: right;box-sizing: border-box;border-radius: 50px;}
.upload-name {width: calc(100% - 100px - 10px);display: inline-block;padding: .5em .75em;font-size: inherit;font-family: inherit;line-height: normal;vertical-align: middle;background-color: #f5f5f5;border: 1px solid #d2d2d2;-webkit-appearance: none; /* 네이티브 외형 감추기 */-moz-appearance: none;appearance: none;box-sizing: border-box;float: left;}
.filebox .clear_btn {width: 37px;height: 37px;display: none;border: 1px solid #d2d2d2;border-left: 0;float: left;position: relative;}
.filebox .clear_btn::before {content:"";height: 2px;width: 25px;-webkit-transform: translate(5px, 6px) rotate(-45deg);transform: translate(5px, 6px) rotate(-45deg);background: #d2d2d2;transition: all .3s ease-in-out;display: inline-block;top: 0;left: 0;}
.filebox .clear_btn::after {content:"";height: 2px;width: 25px;-webkit-transform: translate(5px, -10px) rotate(45deg);transform: translate(5px, -10px) rotate(45deg);background: #d2d2d2;transition: all .3s ease-in-out;display: inline-block;left: 0;}

.filebox.uploaded .upload-name {width: calc(100% - 100px - 10px - 37px)}
.filebox.uploaded .clear_btn{display: inline-block;}

/* form e */
/* scroll box s */
.scroll_wrap{border: 1px solid #ddd; padding: 20px; background: #fcfcfc;}
.scroll_wrap .scroll_box {overflow-y: scroll; height: 220px; padding-right: 10px;}
.scroll_wrap .scroll_box strong {font-weight: 600;}
.scroll_wrap .scroll_box::-webkit-scrollbar {width: 3px; border-radius: 6px;}
.scroll_wrap .scroll_box::-webkit-scrollbar-track {background: #dedede; width: 3px; border-radius: 6px;}
.scroll_wrap .scroll_box::-webkit-scrollbar-thumb {background: #999;}
.scroll_wrap .scroll_box::-webkit-scrollbar-thumb:hover { background: #111;}
/* scroll box e */

/* 필수 작성 항목 s */
.rq {color: #00CAA6;margin-top: -4px;display: inline-block;vertical-align: top;margin-left: 1px;}
/* 필수 작성 항목 e */


/*contents s*/
.contents {padding: 70px 0 140px; min-height: calc(100vh - 662px);}

/* 신청 완료 페이지 s */
.confirm_wrap {text-align: center;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 50px 0;background: #fdfdfd;}
.confirm_ti {font-size: 20px;line-height: 160%; font-weight: 500;color: #111;}
.confirm_tx {font-size: 16px;line-height: 160%;color: #999;}
/* 신청 완료 페이지 e */
/* 신청하기>정보입력 s */
.student_wrap .student_box {display: flex; align-items: stretch;}
.student_wrap .student_box > div {float: left;display: inline-block;}
.student_wrap .student_box .chk_sec {width: 30px;background: #f2f2f2;border: 1px solid #aaa;text-align: center;display: flex;justify-content: center;align-items: center;}
.student_wrap .student_box .chk_sec input[type=checkbox] + label {padding-left: 16px;}
.student_wrap .student_box .table_sec {width: calc(100% - 30px);}
/* 신청하기>정보입력 s */


/*FAQ 자주 묻는 질문 s*/

/*faq2*/
.faq .sec1 .c_box {margin: 0 0 30px;}
.faq .faq_wrap { box-sizing: border-box;  }
.faq .faq_wrap .faq_box:first-child {margin-top:0;}
.faq .faq_wrap .faq_box {cursor: pointer;background: #fff;box-sizing: border-box;padding: 20px;border: 1px solid #ddd;margin-top: 10px;border-radius: 10px;}
.faq .faq_wrap .faq_q {display: table;width:100%; position: relative;}
.faq .faq_wrap .faq_q .con {padding-right: 25px;}
.faq .faq_wrap .faq_q::before {content: ""; position: absolute;width: 15px; height: 9px; background: url("/resources/img/sub/faq_arw.png") center no-repeat; top: 50%; right: 0; transform: translateY(-50%) rotate(0deg);; transition: all .3s ease-in-out;}
.faq .faq_wrap .faq_box.on .faq_q::before {transform: translateY(-50%) rotate(180deg);}
.faq .faq_wrap .faq_box.on {border-color: #04caa6;}
.faq .sec {margin-top: 50px;}
.faq .faq_ti {font-size: 22px; font-weight: 600; color: #206cc5; margin-bottom: 10px;}
.faq .faq_wrap .ico {width: 30px;height: 100%;display: table-cell;color: #111;vertical-align: middle;box-sizing: border-box;font-weight: 500;}
.faq .faq_wrap .con {height: 100%;width: calc(100% - 30px);vertical-align: middle; display: table-cell;}
.faq .faq_wrap .con > span {font-weight: 500;}
.faq .faq_wrap .faq_a {box-sizing: border-box;float: left;width: 100%;background: #fff;display: table;display: none;border-top: 1px solid rgba(210, 210, 210, 0);padding-top: 15px;margin-top: 15px;}
.faq .faq_wrap .faq_box.on .faq_a { border-color: rgba(210, 210, 210, 1);}
.faq .faq_wrap .faq_a .ico {color: #04caa6;}
.faq .faq_wrap .faq_a .con {height: 100%;width: calc(100% - 50px);vertical-align: middle; display: table-cell;}
.faq .con > ol.basic > li > ul > li {color: #777;}
.faq .empty {padding: 20px; text-align: center;}

.faq .faq_wrap .faq_a .con b {font-weight: 600;}
.faq .faq_wrap .faq_a .con a { display: inline-block; background:#fff url("/resources/img/common/newwin_b.png") no-repeat 18px 8px;cursor:pointer; border:1px solid #d2d2d2; background-color:#f4f4f4; border-radius:30px; padding:6px 15px 6px 38px; transition: all 0.3s ease 0s; margin-top: 3px;}
.faq .faq_wrap .faq_a .con a:hover { background: #e0e0e0 url("/resources/img/common/newwin_b.png") no-repeat 18px 8px; color:#282828; border:1px solid #c0c0c0; }
/*faq2 e*/

/*contents e*/

@media screen and (max-width:1200px){

}

@media screen and (max-width:1100px){
}
@media screen and (max-width:900px){
/* flicking */
.f_wrapper .touch { display:block; }
.f_scroller { width:900px; padding:4px}

.div_table .tr {display: block;}
.div_table .tr50 > dl {width: 100%;}
.div_table .tr:first-child > dl {border-top: 1px solid #ddd;}
.div_table .tr:first-child > dl:first-child {border-top: 0;}
/* .div_table .tr50 > dl:first-child {border-right: 1px solid #000;} */
.div_table .tr:last-child > dl {border-bottom: 0;}
.div_table .tr:last-child > dl:last-child {/* border-bottom: 1px solid #ddd; */}

}

@media screen and (max-width:768px){
.contents {min-height: auto;}

.lnb { border:none; border-bottom:1px solid #ddd; left: 0; transform: none;}
.lnb .home { display:none;}
.lnb .depth1_name {display:none;}
.lnb .lnb_menu {min-width:100%; width:100%; border-right:none;}

.path_wrap {margin-bottom: 30px;}

h3, .h3 {font-size: 22px; line-height: 22px; padding-top: 22px;}
h3::before, .h3::before {width: 3px; height: 18px;}
h4, .h4 {font-size: 18px;}

.button_lnb a {margin-right: 10px; font-size: 15px;}
}



@media screen and (max-width:500px){

.div_table .tr > dl {flex-direction: column;}
.div_table .tr > dl > dt {border-bottom: 1px solid #eee;}
.div_table .tr > dl > dt, .div_table .tr > dl > dd {width: 100%;padding: 18px 5px;}

.button_lnb { display: none; } 

.search_box {width: 100%;}

.tab_box { display: block; } 
.tab_box a { width: 100%; margin-right: 0; margin-bottom: 8px; } 
.tab_box a:last-child { margin-bottom: 0; } 

}
















