@charset "utf-8";
.hire .div_table .tr > dl > .field {display: flex; align-items: center;}
.hire .hire_txt {padding: 30px; margin-bottom: 30px; border: 1px solid rgb(214, 214, 214); background-color: #f9f9f9;}
.hire .hire_txt p {margin-bottom: 15px; line-height: 1.5; color: #111;}
.hire .hire_txt p:last-child {margin-bottom: 0;}


@media screen and (max-width:1200px){

}


@media screen and (max-width:900px){
    

}

@media screen and (max-width:768px){


}



@media screen and (max-width:500px){
.hire .hire_txt {padding: 15px;} 


}