@charset "utf-8"; /* resist 정보입력 s */
/* 메뉴바 */
.regist .menu { text-align: center; } 
.regist .menu-bar { width: 574px; display: inline-block; } 
.regist .menu-bar .bar { float: left; width: 150px; background: #F6F6F6; border-radius: 50px; height: 36px; font-family: Gmarket Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 36px; text-align: center; color: #111111; margin-left: 62px; position: relative; } 
.regist .menu-bar .on { color: #f6f6f6; background-color: #111; font-weight: 600; } 
.regist .menu-bar .bar::after { content: ""; background: url(../img/sub/Vector4.png) center no-repeat; width: 10px; height: 16px; position: absolute; top: 11px; left: -37px; } 
.regist .menu-bar .bar:first-child { margin-left: 0; } 
.regist .menu-bar .bar:first-child::after { display: none; } 

/* 입력 */
.regist .line_box .ti { text-align: left; } 
.regist .addBorder { border-right: 1px solid #aaa; } 
.regist .div_table .tr dd { text-align: left; } 
.regist .div_table .tr .birthday { margin: auto; } 

.regist .student_wrap .hide { display: none; } 

.regist .table_sec .div_table .tr p { margin: 0 auto; } 
/* resist 정보입력 e */

/* hierarchy 계층교육 s */
.hierarchy .txt { color: #999; margin-top: 10px; } 

/* 메뉴바 */
.hierarchy .menu { text-align: center; } 
.hierarchy .menu-bar { display: inline-block; margin-top: 50px; } 
.hierarchy .menu-bar .bar { float: left; width: 150px; background: #F6F6F6; border-radius: 50px; height: 36px; font-family: Gmarket Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 36px; color: #111111; margin-left: 22px; } 
.hierarchy .menu-bar .on { color: #f6f6f6; background-color: #111; font-weight: 600; } 
.hierarchy .menu-bar .bar:first-child { margin-left: 0; } 

/* 교육과정 리스트 s */
.hierarchy .edu_area { margin-top: 50px; } 
.hierarchy .edu_box { display: inline-block; margin-right: 1.66%; margin-bottom: 3%; width: 23.75%; float: left; } 
.hierarchy .edu_box:nth-child(4n) { margin-right: 0px; } 
.hierarchy .edu_box .edu_thumb { position: relative; overflow: hidden; border-radius: 4%; overflow: hidden; } 
.hierarchy .edu_box .edu_thumb .edu_des { position: absolute; color: #fff; opacity: 0; width: 86%; bottom: -50%; transform: translateX(-50%); left: 50%; line-height: 1.3; height: 5em; transition: all .3s ease-in-out; text-align: left; overflow: hidden; word-wrap: normal; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; word-break: break-all; } 
.hierarchy .edu_box:hover .edu_thumb .edu_des { bottom: 28%; opacity: 1 } 
.hierarchy .edu_box:hover .edu_thumb { line-height: 0; } 
.hierarchy .edu_box .hoverEffect { width:0px; height: 0px; border-radius: 100%; background-color: #009378; position: absolute; bottom: -160%; right: -60%; opacity: 0.8; transition: 0.5s ease-in-out; } 
.hierarchy .edu_box:hover .hoverEffect { width: 46.83vw; height: 46.83vw; bottom: -80%; left: -40%; max-width: 526px; max-height: 526px; } 

.hierarchy .edu_box .edu_thumb .more { position:absolute; opacity:0; color: #fff; font-size: 14px; font-weight: bold; bottom: 9%; right: 7%; margin: 0; border: 0; transition: all .3s ease-in-out; } 
.hierarchy .edu_box:hover .edu_thumb .more { opacity:1; } 

.hierarchy .edu_box .img_box { padding-bottom: 126.31%; background-color: #ddd; position: relative; } 
.hierarchy .edu_box:hover .img_box {background-color: #000;}
.hierarchy .edu_box .img_box img { width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } 
.hierarchy .edu_box:hover .img_box img { opacity: 0.6; } 
.hierarchy .edu_box .img_box .wide { height: 100%; width: auto; } 
.hierarchy .edu_box .img_box .tall { width: 100%; height: auto; } 

.hierarchy .edu_info { margin-top: 22px; text-align: left; } 
.hierarchy .edu_info .hash { color: #999; } 
.hierarchy .edu_info .edu_title { margin-top: 5px; margin-bottom: 15px; font-weight: 700; font-size: 20px; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; line-height: 1; } 
.hierarchy .edu_box:hover .edu_title { color: #009378; } 

.hierarchy .pagination { margin: 50px auto 0; text-align: center;} 
.hierarchy .pagination a { display: inline-block; margin: 0 10px; } 
.hierarchy .pagination .p_prev { text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat 0 -2px; width: 18px; height: 16px; } 
.hierarchy .pagination .prev { text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -44px -2px; width: 9px; height: 16px; } 
.hierarchy .pagination .selected { width: 21px; height: 21px; border-radius: 10.5px; background-color: #000; color: #fff; line-height: 21px; } 
.hierarchy .pagination .next { text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -243px -2px; width: 9px; height: 16px; } 
.hierarchy .pagination .n_next { text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -278px -2px; width: 18px; height: 16px; } 

/* 교육과정 리스트 e */
/* hierarchy 계층교육 e */

/* HRshop HR샵 s */
.HRshop .edu_info .HR_title { margin-top: 5px; margin-bottom: 15px; font-weight: 700; font-size: 20px; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; line-height: 1; } 
.HRshop .edu_box:hover .HR_title { color: #009378; } 
.HRshop .edu_info .HR_price { text-align: right; font-weight: 700; } 
.HRshop .edu_info .fixedPrice { text-decoration: line-through; color: #999; font-weight: 300; } 

/* HRshop HR샵 e */

/* 아카데미 소개 s */
.academy .inner .txt { margin-top: 10px; text-align: center; color: #999; } 

.academy .sub_title { position: relative; margin-top: 50px; padding-left: 20px; border-bottom: 1px solid #999; font-weight: 700; font-size: 22px; line-height: 1.5; } 
.academy .sub_title::before { content: ''; display: inline-block; width: 4px; height: 22px; background: #00CAA6; position: absolute; transform: rotate(45deg); left: 8px; top: 5px; } 

.academy .summary { width: 100%; } 
.academy .summary .img_box {display: flex;margin-top: 20px;background: url(/resources/img/sub/academy_logobg.png) center/cover no-repeat;background-position: center;height: 300px;justify-content: center;align-items: center;} 
.academy .summary .img_box .logo {max-width: 280px; width: 90%; margin: 0 5%;} 
.academy .summary .sub_des { margin-top: 10px; padding: 25px 30px; border: 1px solid #ddd; width: 100%; font-weight: 400; display: flex; flex-direction: column; justify-content: center; } 
.academy .summary .sub_des .sub_txt { margin-left: 30px; } 
.academy .summary .sub_des .sub_txt::before { width: 2px; height: 2px; background: #000; margin-left: -20px; content: ""; display: inline-block; top: -5px; left: -6px; position: relative; } 
.academy .summary .sub_des .sub_txt:last-child { margin-top: 10px; } 
.academy .summary .sub_des .txt_color { color: #00CAA6; font-weight: 700; } 

.academy .education { width: 100%; margin-top: 45px; } 
.academy .education .sub_innerTitle { margin-top: 30px; font-weight: 400; font-size: 18px; } 

.academy .edu_contents {margin-top: 10px; border: 1px solid #ddd; padding: 30px; word-break: keep-all;} 

.academy .education .edu_contents .edu_list { width: 100%; display: flex; justify-content: center; margin-bottom: 30px; } 
.academy .education .edu_contents .edu_list .edu:last-child { margin-left: 30px; } 
.academy .education .edu_contents .edu_list .edu_img { width: 100%; height: auto; } 
.academy .education .edu_contents .edu_list .edu_txt { font-weight: 400; color: #999; margin-top: 10px; } 

.academy .education .menu { text-align: center; width: 100%; height: 100%; margin-top: 10px; border: 1px solid #ddd; background-color: #f6f6f6; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 30px 0; } 
.academy .education .menu-bar { display: inline-block; width: 80%; } 
.academy .education .menu-bar .bar { float: left; width: 19%; background: #F6F6F6; border-radius: 50px; height: 36px; font-family: Gmarket Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 36px; color: #111111; margin-left: 1.25%; } 
.academy .education .menu-bar .on { color: #f6f6f6; background-color: #111; font-weight: 600; } 
.academy .education .menu-bar .bar:first-child { margin-left: 0; } 

.academy .education .menu1 { position: relative } 
.academy .education .menu .menu-bar1::after { content: ""; background: url(../img/sub/chevrondown.png) center no-repeat; width: 22px; height: 12px; position: absolute; bottom: 46%; left: 50%; transform: translate(-50%); } 
.academy .education .menu .big-bar { width: 80%; background: #00CAA6; border-radius: 50px; height: 36px; font-family: 'Gmarket Sans'; font-style: normal; font-weight: 700; font-size: 14px; line-height: 36px; color: #fff; margin-top: 40px; } 

/* 아카데미 소개 e */

@media screen and (max-width:1200px) { } 
@media screen and (max-width:900px) { } 

@media screen and (max-width:768px) { /* resist 정보입력 s */
 .regist .menu-bar { width: 100%; } 
 .regist .menu-bar .bar { display: none; } 
 .regist .menu-bar .on { display: block; width: 100%; font-size: 14px; margin: 0 auto; } 
 .regist .menu-bar .bar:nth-child(2)::after { display: none; } 
 /* resist 정보입력 e */

 /* hierarchy 계층교육 s */
 .hierarchy .menu-bar { display: block } 
 .hierarchy .menu-bar .bar { display: none; } 
 .hierarchy .menu-bar .on { display: block; width: 100%; font-size: 14px; margin: 0 auto; } 

 .hierarchy .edu_area { margin-top: 30px; } 
 .hierarchy .edu_box { margin-bottom: 5%; width: 48%;  margin-right: 4%;} 
 .hierarchy .edu_box:nth-child(4n) { margin-right: 4%; } 
 .hierarchy .edu_box:nth-child(2n) { margin-right: 0; } 
 .hierarchy .edu_box:hover .edu_thumb { height: 50%; } 
 .hierarchy .edu_info { margin-top: 15px; } 
 .hierarchy .edu_box .img_box { height: 50%; } 
 .hierarchy .edu_box .img_box img { height: 100%; } 

 .hierarchy .edu_box:hover .hoverEffect { bottom: -23%; left: -8%; width: 50.83vw; height: 50.83vw; } 
 .hierarchy .edu_box:hover .edu_thumb .edu_des { bottom: 22%; } 
 .hierarchy .edu_info .edu_title { font-size: 18px; margin-bottom: 10px; overflow: hidden; white-space: normal; line-height: 130%; height: 2.5em; text-align: left; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; } 
 .hierarchy .pagination {margin-top: 40px;}
 /* hierarchy 계층교육 e */

 /* 아카데미 소개 s */
 .academy .education .menu-bar .bar { width: 100%; margin: 0 0 10px 0; } 
 .academy .education .menu .menu-bar1::after { bottom: 23% } 

 .academy .education .edu_contents .edu_list { flex-direction: column; } 
 .academy .education .edu_contents .edu_list .edu:last-child { margin-left: 0; } 
 .academy .education .edu_contents .edu_list .edu { margin-top: 30px; } 
 .academy .education .edu_contents .edu_list .edu:first-child { margin-top: 0; } 

 .academy .education .edu_contents .edu_list .edu_txt { text-align: center; } 
 /* 아카데미 소개 e */ } 

@media screen and (max-width:500px) { /* resist 정보입력 s */
 .regist .menu-bar .on { display: block; width: 100%; } 
 /* resist 정보입력 e */

 /* hierarchy 계층교육 s */ 
 .hierarchy .edu_info { margin-top: 10px; } 
 .hierarchy .edu_info .hash, .hierarchy .edu_info .edu_time { font-size: 12px; } 
 .hierarchy .edu_info .edu_title { font-size: 15px; line-height: 120%; height: 2.3em; margin-bottom: 8px; } 
 .hierarchy .edu_box .edu_thumb .edu_des { font-size: 12px; } 
 .hierarchy .edu_box:hover .hoverEffect { bottom: -29%; left: -8%; width: 60vw; height: 60vw; } 
 
 /* hierarchy 계층교육 e */
 
 /* Academy s */ 
 .academy .edu_contents {padding: 20px;}
 /* Academy e */ 


} 

@media screen and (max-width:300px) { } 