/* regist03 s */
@charset "utf-8";

.regist03 .info-list {text-align: center;}
.regist03 .info-list .info-box{width: 150px;height: 36px;line-height: 36px;color: #111;font-weight: 400;background-color: #f6f6f6;font-size: 14px;display: inline-block;transition: all .3s ease;border-radius: 50px;font-family: 'Gmarket Sans';padding: 0 30px;margin-right: 62px;position: relative;}
.regist03 .info-list .info-box:last-child{margin-right: 0}
.regist03 .info-list .on{color: #f6f6f6;background-color: #111;font-weight: 600;}
.regist03 .info-list .info-box::after{content: "";clear: both;width: 18px;height: 18px;position: absolute;left: 115%;top: 23%;background: url(../../resources/img/sub/chevron-right.png);}
.regist03 .info-list :last-child::after{display: none;}    



@media screen and (max-width:1200px){

}


@media screen and (max-width:900px){
    

}

@media screen and (max-width:768px){
    /* .info-list {display: flex;}
    .info-list .info-box{margin-right: 30px;font-size: 14px;}
    .info-list .info-box:last-child{margin-right: 0px;}
    .info-list .info-box::after{left: 105%;} */
    .regist03 .info-list .info-box{display: none;}
    .regist03 .info-list .on{display: block;width: 100%;font-size: 14px;}
}



@media screen and (max-width:500px){
    
}

/* regist03 e ------------------------------------------------------------------------------------- */


/* notice_list s */

.notice_list .rows{/* margin: 27px 0 20px 20px; *//* display: flex; *//* align-items: center; */}
.notice_list .rows > a {padding: 27px 0;display: flex;align-items: center; transition: all .3s ease-in-out;}
.notice_list .date{display: inline-block; text-align: center; width: 163px;float: left;}
.notice_list .date .yearmonth{color: #999;font-size: 18px;font-weight: 400;text-align: center;display: inline-block;}
.notice_list .date .day{font-size: 64px;font-weight: 700;} 
.notice_list .notice{margin-left: 45px;display: inline-block;word-break: keep-all;width: calc(100% - 163px - 45px - 183px);float: left;}
.notice_list .notice .notice-tag{width: 53px;height: 24px;line-height: 24px;color: #f6f6f6;background-color: #111;font-weight: 600;font-size: 14px;display: inline-block;border-radius: 50px;text-align: center;margin-bottom: 8px;}
.notice_list .notice .notice-event{background-color: #009378;}
.notice_list .notice .notice-class{background-color: #003A70;}
.notice_list .notice .notice-title{font-size: 20px;margin-bottom: 7px;display: flex;}
.notice_list .notice .notice-contents{width: 100%;color: #999;font-size: 16px;font-weight: 300;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 140%;height: 2.6em;text-align: left;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;}
.notice_list .btn-plus{display: flex;float: right;width: 183px;align-items: center;justify-content: center;}

.notice_list .rows > a:hover {background: #fafafa}
.notice_list .rows > a:hover .btn-plus .hover_btn01 {border-color: #111; background: #111;}
.notice_list .rows > a:hover .btn-plus .hover_btn01 i {background-color: #fff;}
.notice_list .rows > a:hover .btn-plus .hover_btn01 i.top, .notice_list .rows > a:hover .btn-plus .hover_btn01 i.bottom {left: 100%;}
.notice_list .rows > a:hover .btn-plus .hover_btn01 i.top {transform: rotate(-45deg);}
.notice_list .rows > a:hover .btn-plus .hover_btn01 i.bottom {transform: rotate(45deg);}


/* pagination s */

.notice_list .pagination {width: 293px;margin: 90px auto 120px;}
.notice_list .pagination a {display: inline-block; margin: 0 10px;}
.notice_list .pagination .p_prev {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat 0 -2px;	width: 18px; height: 16px;}
.notice_list .pagination .prev {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -44px -2px; width: 9px; height: 16px;}
.notice_list .pagination .selected {width: 21px; height: 21px; border-radius: 10.5px; background-color: #000; color: #fff; line-height: 21px;text-align: center;}
.notice_list .pagination .next {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -243px -2px; width: 9px; height: 16px; }
.notice_list .pagination .n_next {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -278px -2px; width: 18px; height: 16px; }

/* pagination e */


@media screen and (max-width:768px){
.notice_list .notice{margin-left: 25px;width: auto;}
}
@media screen and (max-width:500px){
.notice_list .btn-plus{display: none;}    
}

/* notice_list e ------------------------------------------------------------------------------------- */

/* qna_list s */

.qna_list .button_write{display: inline-block;height: 36px;text-align: center;line-height: 38px;transition: all 0.2s ease-in-out;background-color: #f2f2f2;width: 130px; border-radius: 50px;float: right;}





.qna_list .btn-plus{display: flex;float: right;width: 183px;align-items: center;justify-content: center;}

.qna_list .rows > a:hover {background: #fafafa}
.qna_list .rows > a:hover .btn-plus .hover_btn01 {border-color: #111; background: #111;}
.qna_list .rows > a:hover .btn-plus .hover_btn01 i {background-color: #fff;}
.qna_list .rows > a:hover .btn-plus .hover_btn01 i.top, .notice_list .rows > a:hover .btn-plus .hover_btn01 i.bottom {left: 100%;}
.qna_list .rows > a:hover .btn-plus .hover_btn01 i.top {transform: rotate(-45deg);}
.qna_list .rows > a:hover .btn-plus .hover_btn01 i.bottom {transform: rotate(45deg);}









/* pagination s */

.qna_list .pagination {width: 293px;margin: 90px auto 120px;}
.qna_list .pagination a {display: inline-block; margin: 0 10px;}
.qna_list .pagination .p_prev {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat 0 -2px;	width: 18px; height: 16px;}
.qna_list .pagination .prev {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -44px -2px; width: 9px; height: 16px;}
.qna_list .pagination .selected {width: 21px; height: 21px; border-radius: 10.5px; background-color: #000; color: #fff; line-height: 21px;text-align: center;}
.qna_list .pagination .next {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -243px -2px; width: 9px; height: 16px; }
.qna_list .pagination .n_next {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -278px -2px; width: 18px; height: 16px; }

/* pagination e */

/* qna_list e------------------------------------------------------------------------ */