@charset "utf-8"; 


/* regist01 페이지용 css */

.agr_chk { margin:30px auto 20px; text-align: center; } 
.agr_all { text-align: right; position: relative; } 
.agr_all .agr_chk { display: inline-block; } 


@media screen and (max-width:500px) { 
    .listview .btn_wrap, .qnaview .btn_wrap { width: 100%; border-bottom: 1px; display: block; } 

 } 



/* 공지사항 view 페이지용 css */

.board_view img { width: 100%; } 

.announce { display: block; } 

.announce .ann .anntit { width: 53px; height: 24px; left: 359px; top: 467px; background: #111; color:#fff; text-align: center; border-radius: 50px; font-family: 'Gmarket Sans'; font-size: 12px; } 
.listview .title { padding: 20px 0px; border-bottom:1px solid #ddd; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } 
.listview .title .tit { display: block; font-size: 32px; font-weight: 500; } 
.listview .title .date { padding-left: 20px; margin-left: auto; color: #999; } 

.listview .des, .board_view .des { line-height: 140%; } 

.description { padding: 50px 0; border-bottom: 1px solid #ddd; } 
.description p { padding: 10px 0; } 


.viewfile { margin-bottom: 50px; } 
.viewfile .row {padding: 30px 0;border-bottom: 1px solid #ddd;} 
.viewfile .row .file {/* border-right: 20px; */color:#999;width: 57px;display: inline-block;float: left;line-height: 100%;} 
.viewfile .row .insert {display: inline-block;float: left;margin-left: 20px;width: calc(100% - 77px);}  
.viewfile .row .insert a {display: -webkit-box;padding-left: 20px;background: url(/resources/img/sub/attach.png) no-repeat left center/contain;line-height: 120%;overflow: hidden;text-overflow: ellipsis;white-space: normal;text-align: left;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;} 
.viewfile .row .insert a:hover {text-decoration: underline;}
.btnwrap { text-align: center; padding-bottom: 170px; } 
.btnwrap .list_btn { min-width: 193px; height: 50px; left: 863px; top: 1374px; background: #111; color:#fff; text-align: center; border-radius: 80px; display: inline-block; line-height: 52px; font-weight:700; font-size: 18px; font-family: 'Gmarket Sans'; } 


@media screen and (max-width:768px) { 
 .listview .title { box-sizing: border-box; flex-direction: column; align-items: flex-start; justify-content: center; } 
 .listview .title .tit { font-size: 24px; box-sizing: border-box; flex-direction: column; align-items: flex-start; justify-content: center; } 
 .listview .title .date { padding-top: 3px; padding-left: 0; margin-left: 0; font-size: 12px; line-height: 1.2; padding-top: 10px; } 

 } 



/* qna view 페이지용 css */

.qna { display: block; } 

.qnaview .title { padding: 20px 0px; border-bottom:1px solid #ddd; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } 
.qnaview .title .tit { display: block; font-size: 28px; font-weight: 500; } 
.qnaview .title .date { padding-left: 20px; margin-left: auto; color: #999; } 

.qna .btnwrap { text-align: center; margin-top: 20px; padding-bottom: 170px; } 
