@charset "utf-8";

/* 메뉴바 */
.regist .menu {text-align: center;}
.regist .menu-bar { width: 574px; display: inline-block; }
.regist .menu-bar .bar {float: left; width: 150px; background: #F6F6F6; border-radius: 50px; height: 36px; font-family: Gmarket Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 36px; text-align: center; color: #111111; margin-left: 62px;position: relative;}
.regist .menu-bar .on {color: #f6f6f6;background-color: #111;font-weight: 600;}
.regist .menu-bar .bar::after {content: ""; background: url(../img/common/Vector4.png) center no-repeat; width: 10px; height: 16px; position: absolute; top: 11px; left: -37px;}
.regist .menu-bar .bar:first-child {margin-left: 0;}
.regist .menu-bar .bar:first-child::after {display: none;}

/* 입력  */
.regist .line_box .ti {text-align: left; }
.regist .addBorder {border-right: 1px solid #aaa;}
.regist .div_table .tr dd { text-align: left;}
.regist .div_table .tr .birthday {margin: auto;}

.regist .table_sec .div_table .tr p {margin: 0 auto;}


@media screen and (max-width:1200px){
    


@media screen and (max-width:900px){
    

}

@media screen and (max-width:768px){
    .regist .menu-bar {width: 100%;}
    .regist .menu-bar .bar {display: none;}
    .regist .menu-bar .on {display: block; width: 100%; font-size: 14px; margin: 0 auto;}
    .regist .menu-bar .bar:nth-child(2)::after {display: none;}
}

}



@media screen and (max-width:500px){
    .regist .menu-bar .on {display: block; width: 100%;}

}

@media screen and (max-width:300px){
    

}
