@charset "utf-8";
.location .map > iframe { width: 100%; height: 100%; } 

.location .map_title { margin-top: 50px; padding-bottom: 10px; margin-bottom: 19px; border-bottom: 1px solid #ddd; } 
.location .map_title .ti { display: inline-block; font-size: 24px; font-weight: 400; color: #111111; font-family: 'Gmarket Sans'; } 
.location .map_title .ico { display: inline-block; float: right; } 
.location .map_title .ico > button { color: #777; padding: 2px 10px 2px 22px; margin-right: 8px; float: left; position: relative; background: url("/resources/img/sub/location2.png") no-repeat; transition: all 0.3s ease-in-out; } 
.location .map_title .ico > button:hover { color: #00CAA6; } 
.location .map_title .ico > button.share { background-position: -2px 2px; }
.location .map_title .ico > button.share:hover { background-position: -2px -37px; }
.location .map_title .ico > button.print {background-position: -150px 4px;}
.location .map_title .ico > button.print:hover { background-position: -150px -35px; }
.location .map_title .ico > button::before { content: ""; position: absolute; width: 2px; height: 2px; background: #333; border-radius: 100%; right: 0; top: 50%; transform: translateY(-50%); } 
.location .map_title .ico > button:last-child { padding-right: 0; margin-right: 0; } 
.location .map_title .ico > button:last-child::before { display: none; } 

.location .map_box { border: 1px solid #ddd; padding: 30px; box-sizing: border-box; position: relative; } 
.location .map_box .map_name { font-weight: 600; font-size: 20px; margin-bottom: 40px; } 
.location .map_box .tx_box { display: inline-block; float: left; margin-right: 43px; } 
.location .map_box .tx_box.addr { display: block; width: 100%; margin-bottom: 15px; } 
.location .map_box .tx_box .ti,
.location .map_box .tx_box .tx { display: inline-block; float: left; } 
.location .map_box .tx_box .ti { margin-right: 15px; font-weight: 600; } 
.location .map_box .map_btn { position: absolute; top: 30px; right: 30px; border: 1px solid #ccc; color: #777; font-size: 14px; text-align: center; display: inline-block; background: rgba(247, 247, 247, 0) no-repeat; transition: all 0.3s ease-in-out; box-sizing: border-box; border-radius: 10px; } 
.location .map_box .map_btn .go_map { position: relative; padding: 55px 20px 20px; display: block; box-sizing: border-box; } 
.location .map_box .map_btn .go_map::before { content: ""; position: absolute; width: 36px; height: 36px; background: url("/resources/img/sub/Map.png") no-repeat; top: 18px; left: 50%; transform: translateX(-50%); transition: all 0.3s ease-in-out; } 
.location .map_box .map_btn:hover { background-color: rgba(247, 247, 247, 1); } 
.location .map_box .map_btn:hover .go_map::before { top: 14px; } 
.location .info_wrap { margin-top: 70px; } 
.location .info_wrap .info_box { margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #ddd; } 
/* .location .info_wrap .info_box:last-child { border-bottom: 0; } */
.location .info_wrap .trans { width: 130px; display: inline-block; float: left; text-align: center; font-weight: 600; color: #009378; font-size: 18px; padding-top: 70px; position: relative; } 
.location .info_wrap .trans::before { content: ""; position: absolute; top: 0; left: 50%; transform: translateX(-50%); } 
.location .info_wrap .car.trans::before { width: 53px; height: 48px; background: url("/resources/img/sub/Car.png") center/contain no-repeat; } 
.location .info_wrap .bus.trans::before { width: 48px; height: 56px; background: url("/resources/img/sub/Bus.png") center/contain no-repeat; } 
.location .info_wrap .subway.trans::before { width: 47px; height: 56px; background: url("/resources/img/sub/Subway.png") center/contain no-repeat; } 
/* .location .info_wrap .trans.car::before { background-position: 0 -173px; } 
.location .info_wrap .trans.bus::before { background-position: 0 -291px; } 
.location .info_wrap .trans.subway::before { background-position: 0 -410px; } 
.location .info_wrap .trans.train::before { background-position: 0 -531px; } */
.location .info_wrap .info { display: inline-block; width: calc(98% - 132px); float: right; } 
.location .info_wrap .info .ti { font-size: 18px; font-weight: 600; margin-bottom: 8px; } 
.location .info_wrap .info .tx { color: #777; line-height: 140%; margin-bottom: 30px; } 
.location .info_wrap .info .tx:last-child { margin-bottom: 0; } 

.newmap { display: flex; flex-direction: row; } 
.map2 { margin-right: 10px; /* flex: 1 1 45%; */
 width: 37.5%; padding-bottom: 37.5%; position: relative; height: 0; overflow: hidden; } 
.map2 img { width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); height: 100%; /* width: 100%; */}
.map { /* flex: 1 1 calc(55% - 10px); */
 width: calc(100% - 10px - 37.5%); } 


/* month_list.html */
.month_list .txt { color: #999; margin-top: 10px; text-align: center;}

.month_list .ml_header{display: flex; align-items: center; justify-content: space-between; margin-top: 90px; margin-bottom: 30px;}
.month_list .ml_down a {display: inline-block;height: 36px;text-align: center;line-height: 38px;width: 25%;transition: all 0.2s ease-in-out;background-color: #f2f2f2;width: 247px;border-radius: 25px;font-family: 'Gmarket Sans';font-size: 14px;}
.month_list .ml_down img{vertical-align: middle;}
.month_list .pagination {text-align: center; display: none;}
.month_list .pagination a {display: inline-block;}
.month_list .pagination .prev {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -44px -2px; width: 9px; height: 16px;}
.month_list .pagination .next {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -243px -2px; width: 9px; height: 16px; }
.month_list .pagination p{color: rgb(153, 153, 153); margin: 0 45px}
.month_list .pagination span{font-weight: bold; color: #111111;}

.month_list dd{text-align: center;} .month_list dt{justify-content: center;} .month_list dd{align-self: center;}
.month_list .div_table .tr>dl>dt:nth-child(1){flex-grow:1; width:16%}
.month_list .div_table .tr>dl>dt:nth-child(2){flex-grow:1; width:17%}
.month_list .div_table .tr>dl>dd:nth-child(2){flex-grow:1;}
.month_list .div_table .tr>dl>dt:nth-child(3){flex-grow:1; width:16%}
.month_list .div_table .tr>dl>dt:nth-child(4){flex-grow:1; width:17%}
.month_list .div_table .tr>dl>dt:nth-child(5){flex-grow:1; width:16%}
.month_list .div_table .tr>dl>dt:nth-child(6){flex-grow:1; width:17%}

.month_list .slider{margin-top: 40px; overflow: hidden; position: relative}
.month_list .swiper-slide>img{width: 100%;}

.month_list .swiper-pagination{bottom: 1%; left: 50%; transform: translateX(-50%);}
.month_list .swiper-pagination-bullet {background: #c4c4c4; border-radius:8px; margin: 0px 4px;}
.month_list .swiper-pagination-bullet-active {background: #00CAA6; width: 20px;}

.month_list .ml_header .pagination{display: flex;}
.month_list .table768{display: none;} .month_list .table500{display: none;}

.month_list .swiper-button-next {background: none;}
.month_list .swiper-button-next .hover_btn01{border-color: white; background: none; position: absolute; right: 10%;}
.month_list .swiper-button-next .hover_btn01 i.top {transform: rotate(-45deg); left:100%; background-color: white;}
.month_list .swiper-button-next .hover_btn01 i.middle {background-color: white;}
.month_list .swiper-button-next .hover_btn01 i.bottom {transform: rotate(45deg); left:100%; background-color: white;}
.month_list .swiper-button-next .hover_btn01:hover{border-color: black; background: black;}

.month_list .swiper-button-prev {background: none;}
.month_list .swiper-button-prev .hover_btn01{border-color: white; background: none; position:absolute; left: 10% }
.month_list .swiper-button-prev .hover_btn01 i.top {transform: rotate(45deg); left:0; background-color: white;}
.month_list .swiper-button-prev .hover_btn01 i.middle {background-color: white;}
.month_list .swiper-button-prev .hover_btn01 i.bottom {transform: rotate(-45deg); left:0; background-color: white;}
.month_list .swiper-button-prev .hover_btn01:hover{border-color: black; background: black;}


 
@media screen and (max-width: 768px){
  
 .location .map_box { padding: 20px; } 
 .location .map_box .map_name { margin-bottom: 20px; } 
 .location .map_box .map_btn { position: relative; top: auto; right: auto; margin-top: 15px; width: 100%; text-align: center; } 
 .location .map_box .map_btn .go_map { padding: 15px 0 15px 30px; display: inline-block; } 
 .location .map_box .map_btn .go_map::before { top: 50%; left: -10px; transform: translateY(-50%); } 
 .location .map_box .map_btn:hover .go_map::before { top: 50%; } 
 .location .map_box .tx_box,
 .location .map_box .tx_box.addr { margin: 0; margin-bottom: 6px; display: block; float: none; } 
 .location .map_box .tx_box:last-child { margin-bottom: 0; } 
 .location .map_box .tx_box .ti,
 .location .map_box .tx_box .tx { line-height: 150%; } 
 .location .map_box .tx_box .ti { width: 90px; } 
 .location .map_box .tx_box .tx { width: calc(100% - 105px); } 
 .location .info_wrap .trans { width: 100%; padding: 0 0 0 35px; text-align: left; margin-bottom: 25px; } 
 
 .location .info_wrap .car.trans::before { width: 31px; height: 31px; top: 50%; left: 0; transform: translateY(-50%); } 
 .location .info_wrap .bus.trans::before { width: 31px; height: 31px; top: 50%; left: 0; transform: translateY(-50%); } 
 .location .info_wrap .subway.trans::before { width: 31px; height: 31px; top: 50%; left: 0; transform: translateY(-50%); } 
 /* .location .info_wrap .trans::before, .location .info_wrap .trans.bus::before, .location .info_wrap .trans.subway::before,.location .info_wrap .trans.train::before { width: 31px; height: 31px; } */
 /* .location .info_wrap .trans.car::before { background-position: 0px -88px; } 
 .location .info_wrap .trans.bus::before { background-position: 0 -150px; } 
 .location .info_wrap .trans.subway::before { background-position: 0 -211px; } 
 .location .info_wrap .trans.train::before { background-position: 0 -271px; } */
 .location .info_wrap .info { float: none; width: 100%; } 
 /* .newmap { flex-direction: column; } 
 .map2 { margin: auto; margin-bottom: 10px; } */

/* month_list.html */
.month_list .ml_header{flex-direction: column;}

.month_list .ml_header>div:last-child{margin-bottom: 0px;}

.month_list .ml_down{width: 50%;} .month_list .ml_down a{width: 100%;}
.month_list .search_box{width: 50%;}

.month_list .slider>div>img{width: 100%;}
.month_list .ml_header{flex-direction: row; margin: 0;}
.month_list .pagination{display: flex; justify-content: center; margin-top: 90px; margin-bottom: 30px;}
.month_list .ml_header .pagination{display: none;}
.month_list .table769{display: none;} .month_list .table768{display: block;} .month_list .table500{display: none;}
.month_list .table768 .div_table{margin-top: 30px;}
.month_list .table768 dt{padding: 18px 0;}


 



@media screen and (max-width: 500px){
 
 .newmap { flex-direction: column; } 
 .map { width: 100%; height: 230px; } 
 .map2 { width: 100%; margin-right: 0; margin-bottom: 10px; padding-bottom: 100%; }

 /* month_list.html */
 .month_list .table769{display: none;} .month_list .table768{display: none;} .month_list .table500{display: block;}
 .month_list .table500 dl{flex-direction: row;} .month_list .table500 dl>dd{width: 40%;}
 .month_list .ml_header{flex-direction: column;}
 .month_list .ml_down{width:100%; margin-bottom: 15px;} .month_list .ml_header>div:last-child{margin-bottom: 20px;}

 .month_list .ml_down>a{width: 100%;} .month_list .search_box{width: 100%;}

}