/* 인재채용 hire s */
@charset "utf-8";
.hire .div_table .tr > dl > .field {display: flex; align-items: center;}
.hire .hire_txt {padding: 30px; margin-bottom: 30px; border: 1px solid rgb(214, 214, 214); background-color: #f9f9f9;}
.hire .hire_txt p {margin-bottom: 15px; line-height: 1.5; color: #111;}
.hire .hire_txt p:last-child {margin-bottom: 0;}


@media screen and (max-width:1200px){

}


@media screen and (max-width:900px){
    

}

@media screen and (max-width:768px){


}



@media screen and (max-width:500px){
.hire .hire_txt {padding: 15px;} 

}
/* 인재채용 hire e */


/* 계층교육_view hierarchy_view s */
@charset "utf-8";
.hierarchy_view .hie_box {width: 100%; height: 100%; margin-bottom: 60px;}
.hierarchy_view .hie_box .hie_left {float: left; overflow: hidden; margin-right: 10px; width: calc(100% - 480px); border-radius: 10px;}
.hierarchy_view .hie_box .hie_right {float: left; width: 470px; border: 1px solid #ddd; padding: 30px; border-radius: 10px;}
.hierarchy_view .hie_box .map_title .ico {float: right;} 
.hierarchy_view .hie_box .map_title .ico > button { color: #777; padding: 0 0 0 22px; float: left; position: relative; background: url("/resources/img/sub/location2.png") no-repeat; transition: all 0.3s ease-in-out; }
.hierarchy_view .hie_box .map_title .ico > button:hover {color: #04caa6;}
.hierarchy_view .hie_box .map_title .ico > button.share:hover {background-position: -2px -38px;}
.hierarchy_view .hie_box .hie_right .tx {font-size: 14px; color: rgb(177, 177, 177); display: block; padding-bottom: 10px;}
.hierarchy_view .hie_box .hie_right .ti {font-size: 30px; font-weight: 700; min-height: 80px; display: flex; align-items: center}
.hierarchy_view .hie_box .hie_right dt {float: left; margin-right: 29px; width: 75px; line-height: 30px; font-weight: 700;}
.hierarchy_view .hie_box .hie_right dd {float: left; width: calc(100% - 104px); line-height: 30px;}

.hierarchy_view .hie_box .hie_select {margin-top: 28px;}
.hierarchy_view .hie_box .hie_select a {font-size: 14px;}
.hierarchy_view .hie_box .hie_select a.hover_btn05, .hierarchy_view .hie_box .hie_select a.heart {min-width: 0; width: 130px; background-color: #F2F2F2; color: #111; padding: 0 20px;}
.hierarchy_view .hie_box .hie_select .heart:hover span {width: 20px; margin-left: 5px;}
.hierarchy_view .hie_box .hie_select .hover_btn05 span::before,
.hierarchy_view .hie_box .hie_select .hover_btn05 span::after {background: rgb(0, 0, 0);}
.hierarchy_view .hie_box .hie_select .heart span {display: inline-block; width: 0px; height: 10px;transition: all .3s ease-in-out; position: relative;}
.hierarchy_view .hie_box .hie_select .heart span::before {content: ""; width: 16px; height: 16px; right: 0; top: -1px; position: absolute; background: #fff; transition: all .2s ease-in-out; background-image: url(/resources/img/sub/Heart.png); transform: none;} 
.hierarchy_view .hie_box .hie_select .heart span::after {display: none;}

.hierarchy_view .tab_main .tab_box {margin-bottom: 50px;}

.hierarchy_view .hie_cont div {width: 100%; margin-bottom: 40px;}
.hierarchy_view .hie_cont div:last-child {margin-bottom: 0;}
.hierarchy_view .hie_cont h4 {position: relative; display: block; padding-left: 20px; padding-bottom: 12px; border-bottom: 1px solid #aaa;}
.hierarchy_view .hie_cont h4::before {content:''; display: inline-block; width:4px; height:22px; background:#00CAA6; position: absolute; transform: rotate(45deg); left: 10px; top: -1px;}
.hierarchy_view .hie_cont p {margin-top: 20px; margin-bottom: 20px;}
.hierarchy_view .hie_cont img {width: 100%;}

@media screen and (max-width:1200px){

}


@media screen and (max-width:900px){
.hierarchy_view .hie_box .hie_left {float: none; margin: 0 auto; width: 100%; transition: all .2s ease-in-out;}
.hierarchy_view .hie_box .hie_left img {width: 100%;}
.hierarchy_view .hie_box .hie_right {float: none; margin-top: 20px; width: 100%; display: flex; justify-content: center; transition: all .2s ease-in-out; }
.hierarchy_view .hie_box .hie_right .up {float: left; margin-right: 20px;}
.hierarchy_view .hie_box .hie_right .down {float: left;}

}

@media screen and (max-width:768px){
.hierarchy_view .hie_box .hie_right .tx {padding-bottom: 0;}
.hierarchy_view .hie_box .hie_right .up {float: none;}
.hierarchy_view .hie_box .hie_right .down {float: none;}

}



@media screen and (max-width:500px){
.hierarchy_view .hie_box .hie_right .select_box {font-size: 14px;}
.hierarchy_view .hie_box .hie_select a.hover_btn05 {width: 100%; }



}
/* 계층교육_view hierarchy_view e */

/* HRshop_view s */
.HRshop_view .hrs_box {width: 100%; height: 100%; margin-bottom: 60px;}
.HRshop_view .hrs_box .hrs_left {float: left; overflow: hidden; margin-right: 10px; width: calc(100% - 480px); border-radius: 10px;}
.HRshop_view .hrs_box .hrs_right {float: left; width: 470px; border: 1px solid #ddd; padding: 30px; border-radius: 10px; overflow: hidden;}
.HRshop_view .hrs_box .map_title .ico {float: right;} 
.HRshop_view .hrs_box .map_title .ico > button { color: #777; padding: 0 0 0 22px; float: left; position: relative; background: url("/resources/img/sub/location2.png") no-repeat; transition: all 0.3s ease-in-out; }
.HRshop_view .hrs_box .map_title .ico > button:hover {color: #04caa6;}
.HRshop_view .hrs_box .map_title .ico > button.share:hover {background-position: -2px -38px;}
.HRshop_view .hrs_box .hrs_right .tx {font-size: 14px; color: rgb(177, 177, 177); display: block; padding-bottom: 10px;}
.HRshop_view .hrs_box .hrs_right .ti {font-size: 30px; font-weight: 700; min-height: 80px; display: flex; align-items: center}
.HRshop_view .hrs_box .hrs_right .price {text-align: right; margin-bottom: 40px;}
.HRshop_view .hrs_box .hrs_right .ori {text-decoration: line-through; color: #999;}
.HRshop_view .hrs_box .pri {font-size: 20px; font-weight: 700;}
.HRshop_view .hrs_box .won {font-weight: 700;}
.HRshop_view .hover_btn01:hover i.top, .HRshop_view .hover_btn01:hover i.bottom {transform: none; left: 50%;}

.HRshop_view .hrs_box .hrs_right dl {margin-bottom: 20px;}
.HRshop_view .hrs_box .hrs_right dl:last-child {margin-bottom: 0;}
.HRshop_view .hrs_box .hrs_right dl.del {margin-bottom: 7px;}
.HRshop_view .hrs_box .hrs_right dt {float: left; margin-right: 29px; width: 75px; line-height: 30px; font-weight: 700;}
.HRshop_view .hrs_box .hrs_right dd {float: left; width: calc(100% - 104px); line-height: 30px;}
.HRshop_view .hrs_box .hrs_right textarea.req {min-height: 50px;}
.HRshop_view .hrs_box .hrs_right .ann {font-size: 14px; text-align: right; color: #999; padding-bottom: 20px; border-bottom: 1px solid #ddd;}
.HRshop_view .hrs_box .hrs_right .down {margin-top: 20px;}
.HRshop_view .hrs_box .hrs_right .tot {color: #999;}
.HRshop_view .hrs_box .hrs_right .tot_pri {color: #2ABFAB;}


.HRshop_view .hrs_box .hrs_select {margin-top: 35px;}
.HRshop_view .hrs_box .hrs_select a {font-size: 14px;}
.HRshop_view .hrs_box .hrs_select a.hover_btn05 {background-color: #F2F2F2; color: #111;}
.HRshop_view .hrs_box .hrs_select .hover_btn05 span::before,
.HRshop_view .hrs_box .hrs_select .hover_btn05 span::after {background: rgb(0, 0, 0);}

.HRshop_view .tab_main .tab_box {margin-bottom: 50px;}

.HRshop_view .hrs_cont div {width: 100%; margin-bottom: 40px;}
.HRshop_view .hrs_cont div:last-child {margin-bottom: 0;}
.HRshop_view .hrs_cont h4 {position: relative; display: block; padding-left: 20px; padding-bottom: 12px; border-bottom: 1px solid #aaa;}
.HRshop_view .hrs_cont h4::before {content:''; display: inline-block; width:4px; height:22px; background:#00CAA6; position: absolute; transform: rotate(45deg); left: 10px; top: -1px;}
.HRshop_view .hrs_cont p {margin-top: 20px; margin-bottom: 20px;}
.HRshop_view .hrs_cont img {width: 100%;}

@media screen and (max-width:1200px){

}


@media screen and (max-width:900px){
.HRshop_view .hrs_box .hrs_left {float: none; margin: 0 auto; width: 100%; transition: all .2s ease-in-out;}
.HRshop_view .hrs_box .hrs_left img {width: 100%;}
.HRshop_view .hrs_box .hrs_right {float: none; margin-top: 20px; width: 100%; display: flex; justify-content: center; transition: all .2s ease-in-out;}

}

@media screen and (max-width:768px){
.HRshop_view .hrs_box .hrs_right .tx {padding-bottom: 0;}
.HRshop_view .hrs_box .hrs_select .hover_btn05 {min-width: 180px;}
}

@media screen and (max-width:500px){
.HRshop_view .hrs_box .hrs_right .select_box {font-size: 14px;}
.HRshop_view .hrs_box .hrs_select a.hover_btn05 {width: 100%; }

}

/* HRshop_view e */

