@charset "utf-8";
/* resist 정보입력 s */
/* 메뉴바 */
.regist .menu {text-align: center;}
.regist .menu-bar { width: 574px; display: inline-block; }
.regist .menu-bar .bar {float: left; width: 150px; background: #F6F6F6; border-radius: 50px; height: 36px; font-family: Gmarket Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 36px; text-align: center; color: #111111; margin-left: 62px;position: relative;}
.regist .menu-bar .on {color: #f6f6f6;background-color: #111;font-weight: 600;}
.regist .menu-bar .bar::after {content: ""; background: url(../img/sub/Vector4.png) center no-repeat; width: 10px; height: 16px; position: absolute; top: 11px; left: -37px;}
.regist .menu-bar .bar:first-child {margin-left: 0;}
.regist .menu-bar .bar:first-child::after {display: none;}

/* 입력  */
.regist .line_box .ti {text-align: left; }
.regist .addBorder {border-right: 1px solid #aaa;}
.regist .div_table .tr dd { text-align: left;}
.regist .div_table .tr .birthday {margin: auto;}

.regist .table_sec .div_table .tr p {margin: 0 auto;}
/* resist 정보입력 e */

/* hierarchy 계층교육 s */
.hierarchy .inner { text-align: center; }
.hierarchy .txt { color: #999; margin-top: 10px; }

/* 메뉴바 */
.hierarchy .menu {text-align: center;}
.hierarchy .menu-bar { display: inline-block; margin-top: 50px;}
.hierarchy .menu-bar .bar {float: left; width: 150px; background: #F6F6F6; border-radius: 50px; height: 36px; font-family: Gmarket Sans; font-style: normal; font-weight: normal; font-size: 14px; line-height: 36px; color: #111111; margin-left: 22px;}
.hierarchy .menu-bar .on {color: #f6f6f6;background-color: #111;font-weight: 600;}
.hierarchy .menu-bar .bar:first-child {margin-left: 0;}

/* 교육과정 리스트 s */
.hierarchy .edu_area .edu_row { margin-top: 50px;}
.hierarchy .edu_box {display: inline-block; margin-right: 15px;}
.hierarchy .edu_box:last-child {margin-right: 0px;}
.hierarchy .edu_box .edu_thumb {position: relative; overflow: hidden;}
.hierarchy .edu_box .edu_thumb .edu_des {position: absolute; color: #fff; width: 245px; top: 166px; left: 22px; line-height: 1.3; display: none;}
.hierarchy .edu_box:hover .edu_thumb {height: 360px;}
.hierarchy .edu_box:hover .edu_thumb::after { content: 'MORE +'; color: #fff; font-size: 14px; font-weight: bold;  position: relative; top: -50px; left: 100px; margin: 0; border: 0; }
.hierarchy .edu_box:hover .edu_thumb .edu_des {display: block;}
.hierarchy .edu_box:hover .hoverEffect {width: 562px; height: 562px; border-radius: 281px; background-color: #009378; position: absolute; top: 50px; left: -95px; opacity: 0.8;}
.hierarchy .edu_box:hover .edu_title {color: #009378; }

.hierarchy .edu_img1 { width: 285px; height: 360px; background: url(../img/sub/eduimg1.jpg) center no-repeat; background-size: 223%; background-position: -297px -13px; border-radius: 4%;}
.hierarchy .edu_img2 { width: 285px; height: 360px; background: url(../img/sub/eduimg2.jpg) center no-repeat; background-size: 223%; background-position: -34px -7px; border-radius: 4%;}
.hierarchy .edu_img3 { width: 285px; height: 360px; background: url(../img/sub/eduimg3.png) center no-repeat; background-size: 114%; background-position: -22px -41px; border-radius: 4%;}
.hierarchy .edu_img4 { width: 285px; height: 360px; background: url(../img/sub/eduimg4.png) center no-repeat; background-size: 113%; background-position: 0px -47px; border-radius: 4%;}

.hierarchy .edu_info { margin-top: 22px; text-align: left;}
.hierarchy .edu_info .hash { color: #999;}
.hierarchy .edu_info .edu_title { margin-top: 5px; margin-bottom: 15px; font-weight: 700; font-size: 20px;}

.hierarchy .pagination { margin: 90px auto 120px;}
.hierarchy .pagination a {display: inline-block; margin: 0 10px;}
.hierarchy .pagination .p_prev {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat 0 -2px;	width: 18px; height: 16px;}
.hierarchy .pagination .prev {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -44px -2px; width: 9px; height: 16px;}
.hierarchy .pagination .selected { width: 21px; height: 21px; border-radius: 10.5px; background-color: #000; color: #fff; line-height: 21px;}
.hierarchy .pagination .next {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -243px -2px; width: 9px; height: 16px; }
.hierarchy .pagination .n_next {text-indent: -999rem; background: url(../img/sub/pagination.png) no-repeat -278px -2px; width: 18px; height: 16px; }

.quick { position: absolute; top: 87px; right: -119px;}

/* 교육과정 리스트 e */

/* hierarchy 계층교육 e */

@media screen and (max-width:1200px){
    

}
@media screen and (max-width:900px){
    

}

@media screen and (max-width:768px){
    /* resist 정보입력 s */
    .regist .menu-bar {width: 100%;}
    .regist .menu-bar .bar {display: none;}
    .regist .menu-bar .on {display: block; width: 100%; font-size: 14px; margin: 0 auto;}
    .regist .menu-bar .bar:nth-child(2)::after {display: none;}
    /* resist 정보입력 e */

    /* hierarchy 계층교육 s */
    .hierarchy .menu-bar {width: 100%;}
    .hierarchy .menu-bar .bar {display: none;}
    .hierarchy .menu-bar .on {display: block; width: 100%; font-size: 14px; margin: 0 auto;}

    .hierarchy .edu_box:nth-child(2) {margin-right: 0;}
    .hierarchy .edu_box:hover .edu_thumb {height: 180px;}

    .hierarchy .edu_img1 { height: 180px; }
    .hierarchy .edu_img2 { height: 180px; }
    .hierarchy .edu_img3 { height: 180px; }
    .hierarchy .edu_img4 { height: 180px; }

    .hierarchy .edu_box:hover .hoverEffect {display: none;}
    .hierarchy .edu_box:hover .edu_thumb .edu_des { top: 37px; left: 21px;}
    /* hierarchy 계층교육 e */
}

@media screen and (max-width:500px){
    /* resist 정보입력 s */
    .regist .menu-bar .on {display: block; width: 100%;}
    /* resist 정보입력 e */

    /* hierarchy 계층교육 s */
    .hierarchy .menu-bar .on {display: block; width: 100%;}

    .hierarchy .edu_box {margin-right: 0;}
    /* hierarchy 계층교육 e */

}

@media screen and (max-width:300px){
    

}
