
/* 상단 신청 메뉴바 */
.menu-bar {
    width: 430px;
    margin: 0 auto;
}
.menu-bar .bar {
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    float: left;
    margin: 10px 10px;
    position: relative;
}
.menu-bar .bar span {
    background: url(chevron.png);
    background-size: 16px;
    /* content: ">"; */
    display: block;
    position: absolute;
    top: 3px;
    left: 105px;
    width: 16px; height: 16px;
}

/* 1. 기본사항 */
.sec2 {
    clear: both;
    margin: 50px 0;
}
.sec2 h3 {
    margin: 20px 0;
    font-weight: 500;
}

.basic-data {
    width: 1200px;
    border: 1px solid;
}
.basic-data th {
    background-color: #ebebeb;
}

.basic-data tr { display: block; float: left; width: 300px; }
.basic-data th { border-right: 1px solid; border-bottom: 1px solid;  line-height: 40px;}
.basic-data td { width: 870px; line-height: 42px; border-bottom: 1px solid; padding-left: 30px;}
.basic-data th, .basic-data td { display: block; }

/* 2. 교육생정보 */
.sec3 {
    margin: 50px auto;
}

.sec3 h3 {
    margin: 20px 0;
    font-weight: 500;
}

.sec3 .adddel-bars {
    float: right;
    margin: 10px 0;
}

.sec3 .adddel-bars .adddel-bar {
    float: left;
    width: 145px;
    height: 30px;
    line-height: 30px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
}
/* 교육생정보 양식 */
.stu-info {
    clear: both;
    width: 100%;
    height: 200px;
    border: 1px solid;
    display: table;
	width: 100%;
    text-align: center;
    line-height: 200px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
    width: 240px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divTableColumn {
    display: table-column;
    border: 1px solid #999999;
    width: 50px;
}

/* 3. 결제금액 */
.sec4 h3 {
    margin: 20px 0;
    font-weight: 500;
}

/* 결제정보 테이블 */
.payment {
    width: 100%;
    border: 1px solid;
    display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divTableTH {
    background-color: #ebebeb;
    font-weight: 500;
}

.askBtn {
    width: 200px;
    margin: 30px auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
/* 768px 반응형 */
@media screen and (max-width: 768px) {
    .menu-bar {
        width: 50vw;
    }
    .menu-bar .bar {
        width: 11vw;
    }
    .menu-bar .bar span {
        left: 11.5vw;
    }
    .basic-data {
        width: 630px;
        border: 1px solid;
    }
    .basic-data tr { width: 150px; }
    .sec3 .adddel-bars .adddel-bar {
        width: 15vw;
    }
}

@media screen and (max-width: 480px) {
    .menu-bar {
        width: 70vw;
    }
    .menu-bar .bar {
        width: 15vw;
    }
    .menu-bar .bar span {
        left: 15.5vw;
    }
    .basic-data {
        width: 400px;
        border: 1px solid;
    }
    .basic-data tr { width: 100px; }
    .sec3 .adddel-bars .adddel-bar {
        width: 20vw;
    }
}